.signin
  %h2 Sign up
  = form_for @user do |f|
    - if @user.errors.any?
      .error_messages
        %h2 Form is invalid
        %ul
          - for message in @user.errors.full_messages
            %li= message

    = f.label :email
    = f.text_field :email, :placeholder => 'Enter your Email', :class => 'input-xlarge'
    %span#user_email_suggestion

    = f.label :password
    = f.password_field :password, :placeholder => 'Enter your Password', :class => 'input-xlarge'

    = f.label :password_confirmation
    = f.password_field :password_confirmation, :placeholder => 'Password Confirmation', :class => 'input-xlarge'

    %button.btn.btn-large.btn-primary{:type => "submit"} Register
