<!DOCTYPE html>
<html>
<head>
  <title>Backbone app</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body data-api-root="<%= api_host %>" data-api-token="<%= access_token %>">
<div id="flash_messages"></div>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container">
        <%= link_to "Backbone app", root_url, class: "brand" %>
        <ul class="nav">
          <% if current_user %>
            <li><span class="navbar-text">Logged in as <a href="#"><%= current_user.email %></a>. </span> </li>
            <li><%= link_to "Logout", destroy_user_session_path, class: "navbar-link", method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, class: "navbar-link" %></li>
            <li><%= link_to "Log in", new_user_session_path, class: "navbar-link" %></li>
          <% end %>
        </ul>
      </div>

  </div>
</div>


<div id="content" class="container"><%= yield %></div>

<div class="container">
  <hr>

  <footer>
    <p>site.com &copy; Company 2012</p>
  </footer>

</div>

<%= javascript_include_tag "application" %>
<% if current_user %>
  <script type="text/javascript">
    WebApp.current_user = new WebApp.Models.User(<%= current_user.to_json.html_safe %>);
  </script>
<% end %>
</body>
</html>
